.burger
    .strip
    .strip
    .strip
.cross 
    .close
nav
    .nav-hidden  
        ul 
            li 
                a(href="audio_seans.html") Лечебные аудиосеансы
            li 
                a(href="audio_home.html") Литературный дом
            li 
                a(href="my_room.html") Личный Кабинет
