.player-track
    .track-name Киркоров
    .track-time
        .current-time
        .track-length
    .s-area
        .ins-time
        .s-hover
        .seek-bar
.player-content
    .player-controls
        .control
            .button.play-pause-button.fa-play