<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="static\\css\\checkout.css")
        title Document
        <link rel="icon" href="data:;base64,=">
    body
        .wrapper    
            include includes/burger.pug
            include includes/header.pug
            .content
                main
                    h3 Переадресация в платёжную систему
                    .error-box
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet aperiam, veniam inventore corporis, ducimus velit earum id molestiae quisquam impedit laudantium! Doloremque nostrum similique animi officiis consequuntur, nobis dolorem. Fugiat?
                    .form-box

            include includes/footer.pug

        script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
        script(src="static//js//call_forwarding.js")
        script(src="static//js//main.js")