<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="static\\css\\entrance.css")
        title Document
        <link rel="icon" href="data:;base64,=">
    body
        .wrapper    
            include includes/burger.pug
            include includes/header.pug
            .content
                main
                    include includes/bread_crumbs.pug
                    h3 Вход в личный кабинет
                    .form-box
                        form#form
                            #error
                                p#error_text Lorem, ipsum.
                            label(value="tel") Номер телефона:
                            input(type="tel" placeholder="0970605656" name="tel")#phone 
                            .confirm#conf
                                label(value="conf") На ваш номер была отправлена СМС с кодом, введите код ниже для подтверждения номера телефона
                                input(type="text" placeholder="1488" name="sms")#conf-val
                            button#btn-subm Отправить
                            button#btn-subm_second Вход
                            p.explanation *Для незарегистрированых пользователей происходит автоматичесская регистрация
                        form(name="hidden_form" action="url")#hidden_form
                            input(type="text" name="tel_hidden" hidden)#hidden_phone
            include includes/footer.pug

        script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
        script(src="static//js//confirm.js")
        script(src="static//js//main.js")