<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="static\\css\\main.css")
        title Document
    body
        .wrapper
            include includes/burger.pug
            include includes/header.pug
            .content
                .informative_strip Небольшой текст про цены на книги или новинки
                .audio_pages_hrefs
                    .audio_seans_link
                        a(href="audio_seans.html") 
                        p Лечебные аудиосеансы
                    .audio_home_link   
                        a(href="audio_home.html") 
                        p Литературный дом
            include includes/footer.pug
        script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
        script(src="static//js//main.js")