<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="static\\css\\my_room.css")
        title myRoom
    body
        .wrapper
            include includes/header.pug
            .content
                .informative_strip Небольшой текст про цены на книги или новинки
                .audio_pages_hrefs
                    .audio_seans_link
                        a(href="audio_seans.html") Мои аудиосеансы
                    .audio_home_link   
                        a(href="#") Мои аудиокниги
            include includes/footer.pug