header
    width: 100%;
    background-color: #ffffff;
    .header-inner
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        padding: 19px 0px 15px;
        border-bottom: 1px solid #d5d5d5;
        max-width: 1170px;
        .header-logo_and_nav
            display: inline-block;
            .header-logo
                float: left;
                .header-logo-top
                    font-size: 28px;
                    color: #21899b;
                    font: bold 28px'Arial', sans-serif;
                .header-logo-bot
                    font: 18px 'Arial', sans-serif;
            nav
                float: right;
                margin-left: 15px;
                margin-top: 15px;
                &:before
                    content: '';
                    height: 28px;
                    width: 1px;
                    margin-top: 7px;
                    margin-right: 15px;
                    display: inline-block;
                    background: #d5d5d5;
                    float: left;
                ul 
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-top: 9px;
                    li
                        line-height: 23px;
                        &:not(:last-child)
                            margin-right: 15px;
                        a
                            color: #000000;
                            border-bottom: 1px solid transparent;
                            transition: 0.4s ease-out;
                            font: 14px 'Open Sans', sans-serif;
                            white-space: nowrap;
                            text-transform: uppercase;
                            &:hover
                                border-bottom-color: #000;
        .header-info
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width: 410px;
            height: 100%;
            .header-languages
                ul 
                    width: 100%;
                    li 
                        display: flex;
                        align-items: center;
                        margin-top: 5px;
                        img
                            width: 16px;
                            height: 11px;
                            margin-right: 5px;
                        a
                            font: 14px 'Open Sans', sans-serif
            .reception 
                font: 14px 'Open Sans', sans-serif
            .phones 
                height: 100%;
                ul 
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    height: 100%;
                    flex-wrap: wrap;
                    max-width: 150px;
                    li 
                        width: 100%;
                        a
                            font: 14px 'Open Sans', sans-serif